<!-- list all the memes here-->
<!-- add button that adds new meme to data base -->
<!-- have a link that directs back to homepage -->
<h2>memes</h2>
<!-- list all the meme here-->
<!-- add button that adds new meme to data base -->
<!-- have a link that directs back to homepage -->
<!--  create a table table to show all memes, language, definition, ect-->

<h2>memes</h2>
<table class="table-hover table-responsive col-sm-12">
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>

<% @meme.each do |meme| %>
    <tr>
      <td>Ranked:<%= meme.ranking %></td>
      <td><%= link_to meme.name, meme_path(meme.id)  %></td>
      <td><%= button_to "Upvote", upvote_meme_path(meme), method: :patch %></td>
    </tr>
<% end %>
  </table>

<%= button_to "Add meme", new_meme_path, method: :get %>
<%= button_to "Home", root_path, method: :get %>
