<!-- this page show indivual memes based on id -->
<!-- this page show indivual memes based on id -->

<h1><%= @meme.name %></h1>
<h3><%= @meme.recorder %></h3>
<h2><%= @meme.description %></h2>
<h4><%= @meme.ranking %></h4>

<%= button_to "Upvote", upvote_meme_path(@meme), method: :patch %>
<%= button_to "Edit", edit_meme_path, method: :get %>
<%= button_to "Delete", edit_meme_path, method: :patch %>
<%= button_to "All memes", memes_path, method: :get %>
<%= button_to "Home", root_path, method: :get %>
