<h1>Edit <%= @album.name %></h1>

<%= form_for @album do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :recorder %>
    <%= f.text_field :recorder %><br>

    <%= f.label :description %>
    <%= f.text_field :description %><br>


    <%= f.submit "Submit" %>
    <!-- it defaults to the restful route that it is in, it used reasoures -->
  <% end %>
