<!-- list all the memes here-->
<!-- add button that adds new meme to data base -->
<!-- have a link that directs back to homepage -->

<!-- list all the album here-->
<!-- add button that adds new album to data base -->
<!-- have a link that directs back to homepage -->
<!--  create a table table to show all albums, language, definition, ect-->

<h2>albums</h2>
<table class="table-hover table-responsive col-sm-12">
    <tr>
      <th>Ranking</th>
      <th>Name</th>
      <th>Upvote</th>
    </tr>

<% @album.each do |album| %>
    <tr>
      <td>Ranked:<%= album.ranking %></td>
      <td><%= link_to album.name, album_path(album.id)  %></td>
      <td><%= button_to "Upvote", upvote_album_path(album), method: :patch %></td>
    </tr>
<% end %>
  </table>

<%= button_to "Add album", new_album_path, method: :get %>
<%= button_to "Home", root_path, method: :get %>
