<h1>Edit <%= @picture.name %></h1>


<%= form_for @picture do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :url %>
    <%= f.text_field :url %><br>

    <%= f.label :description %>
    <%= f.text_field :description %><br>


    <%= f.submit "Submit" %>
    <!-- it defaults to the restful route that it is in, it used reasoures -->
  <% end %>
