<h1>AHHHH New Picture Form</h1>


<%= form_for @picture, :html => {:multipart => true} do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :url %>
    <%= f.text_field :url %><br>

    <%= f.label :description %>
    <%= f.text_field :description %><br>

    <%= f.file_field :uploader %><br>

    <%= f.label :remote_uploader_url, "Or image url" %>
    <%= f.text_field :remote_uploader_url %><br>

    <%= f.hidden_field(:ranking, value: 0) %>

    <%= f.submit "Submit" %>
    <!-- it defaults to the restful route that it is in, it used reasoures -->
  <% end %>
